@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\000033}}
html {
  font-size: 18px;
  font-family: "微軟正黑體", sans-serif;
  color: #333333;
  background-color: #d0d0d0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\000039}}
html, body, div, nav, section, article, header, footer, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000315}}
p {
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000318}}
a, a:link {
  text-decoration: none;
  color: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000324}}
.ui.menu {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000327}}
.ui.label.white {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000332}}
.no.margin {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000335}}
.float.right {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000338}}
.align.right {
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000341}}
.one.line.height {
  line-height: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000344}}
.two.line.height {
  line-height: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000347}}
.indent {
  margin-left: 2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000350}}
.hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000353}}
.inline.block {
  display: inline-block;
}

@media screen and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000356}}
  .desktop.only {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000360}}
  .mobile.only {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000360}}
  .mobile.only {
    display: "";
  }
}

@media screen and (min-width: 1025px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000366}}
  .tablet.only {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000366}}
  .tablet.only {
    display: "";
  }
}
@media screen and (min-width: 641px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000366}}
  .tablet.only {
    display: "";
  }
}
@media screen and (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000366}}
  .tablet.only {
    display: none !important;
  }
}

@media screen and (min-width: 641px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000376}}
  .phone.only {
    display: none !important;
  }
}
@media screen and (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000376}}
  .phone.only {
    display: "";
  }
}

@media screen and (min-width: 481px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000382}}
  .tiny.only {
    display: none !important;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000388}}
#sidebar {
  width: 20rem;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: -moz-linear-gradient(left, #e0e0e0, #d0d0d0);
  background-image: -webkit-linear-gradient(left, #e0e0e0, #d0d0d0);
  background-image: linear-gradient(to right, #e0e0e0, #d0d0d0);
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media screen and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\0000388}}
  #sidebar {
    width: 100%;
    height: 2.75rem;
    overflow: visible;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003107}}
#sidebar #toc > .ui.menu {
  width: 100%;
  border-top: 2px rgba(0, 0, 0, 0.5) solid;
}
@media screen and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003106}}
  #sidebar #toc {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003112}}
  #sidebar #toc .accordion {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003116}}
#sidebar #toc > .ui.menu, #sidebar #topbar > .ui.menu {
  -moz-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003119}}
#sidebar #topbar > .ui.menu {
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003123}}
#sidebar #topbar .title.item {
  font-weight: 700;
  width: 12rem;
}
@media screen and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003123}}
  #sidebar #topbar .title.item {
    width: auto;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003128}}
#sidebar #topbar .form.segment {
  background: none;
}
@media screen and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003128}}
  #sidebar #topbar .form.segment {
    background: white;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003133}}
#sidebar #nav > .ui.menu {
  background-color: rgba(255, 255, 255, 0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003138}}
#sidebar #nav > .menu > .dropdown.about .menu, #sidebar #topbar > .menu > .dropdown.about .menu {
  width: 14rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003141}}
#sidebar #nav > .menu > .dropdown.shortcuts .menu, #sidebar #nav > .menu > .dropdown.history .menu, #sidebar #topbar > .menu > .dropdown.shortcuts .menu, #sidebar #topbar > .menu > .dropdown.history .menu {
  width: 14rem;
}
@media screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003143}}
  #sidebar #nav > .menu > .edit.table, #sidebar #nav > .menu > .refresh.table, #sidebar #topbar > .menu > .edit.table, #sidebar #topbar > .menu > .refresh.table {
    display: none !important;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003148}}
#sidebar #nav .dropdown .menu .item i.icon, #sidebar #topbar .dropdown .menu .item i.icon {
  float: right;
  margin-right: 0;
}
@media screen and (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003151}}
  #sidebar #nav .zoom, #sidebar #topbar .zoom {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003154}}
  #sidebar #nav .zoom .menu, #sidebar #topbar .zoom .menu {
    right: 0;
    left: auto;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003159}}
#sidebar #nav .meta > .menu, #sidebar #topbar .meta > .menu {
  right: 0;
  left: auto;
  width: 6rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003163}}
#sidebar #nav .meta > .menu > .item > .menu, #sidebar #topbar .meta > .menu > .item > .menu {
  right: 100%;
  left: auto !important;
  width: 14rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003168}}
#wrapper {
  position: absolute;
  padding-left: 20rem;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media screen and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003168}}
  #wrapper {
    padding-top: 2.75rem;
    padding-left: 0;
    height: auto;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003185}}
#wrapper .frame {
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003192}}
#wrapper #iframe {
  -moz-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  margin: 0 0 -5px 0;
  border: 0;
  position: relative;
  z-index: 3;
  background-color: #e9e9e9;
}
@media screen and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003192}}
  #wrapper #iframe {
    z-index: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003207}}
.normal.size.frame {
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003210}}
.normal.size#iframe {
  -ms-zoom: 1;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003220}}
.large.size.frame {
  width: 76%;
  height: 76%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003223}}
.large.size#iframe {
  -ms-zoom: 1.3;
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003233}}
.larger.size.frame {
  width: 66%;
  height: 66%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003236}}
.larger.size#iframe {
  -ms-zoom: 1.5;
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/ETBlue\/Documents\/GitHub\/maker\.moztw\.org\/sass\/global\.sass}line{font-family:\00003246}}
#sidebar .ui.accordion > .content {
  padding: 0;
}

/*# sourceMappingURL=global.css.map */
