.menu
  //-a.link.item(href="https://g0v.hackpad.com/welcome_to_hackfoldr#Welcome-to-Hackfoldr",target="iframe") 使用說明
    i.icon.text.file.outline
  a.foldr.item(href="/welcome-to-hackfoldr") 使用說明、問題回報
    i.icon.exchange
  a.link.item(href="https://github.com/hackfoldr/maker.moztw.org",target="_blank") 程式碼
    i.icon.github
