//- when help button is clicked, this dropdown menu appears
.menu
  a.foldr.item(href="/welcome-to-hackfoldr")
    i.icon.exchange
    | 使用說明、問題回報
  a.foldr.item(href="/hackfoldr-2.0-template-hackathon")
    i.icon.exchange
    | Hackfoldr 2.0 空白模版 - 黑客松
  a.link.item(href="https://github.com/hackfoldr/maker.moztw.org",target="_blank")
    i.icon.github
    i.icon.forward.mail
    | 程式碼
