.menu
  a.link.item(href="http://g0v.tw",target="iframe") g0v 官網
    i.icon.globe
  .ui.accordion
    .title.item 各期黑客松
      i.icon.dropdown
    .content
      a.foldr.item(href="/g0v-hackath9n") 還我土地 2014-06-21
        i.icon.exchange
      a.foldr.item(href="/g0v-hackath8n") 解除戒嚴 2014-04-19
        i.icon.exchange
      a.foldr.item(href="/g0v-hackath7n") 自由時代 2014-02-22
        i.icon.exchange
      a.foldr.item(href="/g0v-hackath6n") 勞動基準 2013-12-21
        i.icon.exchange
      a.foldr.item(href="/g0v-hackath5n") 美麗島 2013-10-20
        i.icon.exchange
      a.foldr.item(href="/g0v-hackath4n") 國民大會 2013-08-10
        i.icon.exchange
      a.foldr.item(href="/g0v-hackath3n") 客廳工廠 2013-06-06
        i.icon.exchange
      a.foldr.item(href="/g0v-hackath2n") 九大建設 2013-03-23
        i.icon.exchange
      a.link.item(href="https://hackpad.com/lIoCjaeMWzC",target="iframe") 公地放領 2013-01-27
        i.icon.text.file.outline
      a.link.item(href="https://hackpad.com/ul6fMthof2S",target="iframe") 動員戡亂 2012-12-01
        i.icon.text.file.outline
