//- white label: if you want to show shortcut links for your community / organization, uncomment line 2, then there will ba a home button added to the dropdown manu on #sidebar (phone mode)
//-.item.shortcuts 捷徑
  i.icon.home
  include shortcuts-menu
