#login.ui.form.segment.light.yellow(ng-show="login=='yes'")
  p 黑客，歡迎！登入為：
  .ui.icon.labeled.button(ng-click="login='done'") github
    i.icon.github
  .ui.icon.labeled.button(ng-click="login='done'") google
    i.icon.google.plus
  .ui.icon.labeled.button(ng-click="login='done'") twitter
    i.icon.twitter
  .ui.icon.labeled.button(ng-click="login='done'") facebook
    i.icon.facebook
  .ui.icon.right.labeled.button(ng-click="login='no'") 不登入，保持匿名，以策安全
    i.icon.hide
