#lucky(ng-init="display='none'")
  .ui.icon.labeled.small.button(ng-click="display='software'") 技術部好手氣
    i.icon.lab
  .ui.icon.labeled.small.button(ng-click="display='culture'") 文化部好手氣
    i.icon.photo
  .ui.icon.labeled.small.button(ng-click="display='research'") 研究院好手氣
    i.icon.book
  .ui.icon.labeled.small.button(ng-click="display='ai'") 工人院好手氣
    i.icon.male
  table.ui.table.segment(ng-show="display=='software'")
    thead
      tr
        th 專案
        th 坑
        th 類型
        th 坑址
        th(ng-show="login=='done'") 填坑
    tbody
      include _hack-pit-select-software
    tfoot
      tr
        td(colspan="5")
          a(href="").ui.right.icon.labeled.small.button 所有技術部坑
            i.icon.right.arrow


  table.ui.table.segment(ng-show="display=='culture'")
    thead
      tr
        th 專案
        th 坑
        th 類型
        th 坑址
        th(ng-show="login=='done'") 填坑
    tbody
      include _hack-pit-select-culture
    tfoot
      tr
        td(colspan="5")
          a(href="").ui.right.icon.labeled.small.button 所有文化部坑
            i.icon.right.arrow
