tr
  td.two.line.height
    a(href="").ui.label 基礎建設
  td
    a(href="",ng-click="pitDetail=10").with.padding.block.display 專案整理、各專案長短版簡介撰寫
  td(ng-show="pitView=='all'").two.line.height
    a(href="").ui.label 企畫
  td(ng-show="pitView=='all'").two.line.height
    a(href="").ui.label hackpad
  td(ng-show="login=='done'")
    include _hack-pit-action-buttons
tr(ng-show="pitDetail==10").detail
  td(colspan="5")
    p blah 零時坑報 hackpad 上的坑詳細描述，步驟 123 要注意什麼…。
    .ui.divider
    p 坑型
      a(href="").ui.label.left.margin g0v 文化部
      a(href="").ui.label.left.margin 文案
      | ，坑址
      a(href="").ui.label.left.margin hackpad
      | ，認領人
      a(href="").ui.label.left.margin Lee1092
        i.icon.external.url
      a(href="").ui.label.left.margin Lee1092
        i.icon.external.url
      a(href="").ui.label.left.margin Lee1092
        i.icon.external.url
      | ，完成品
      a(href="").ui.label.left.margin 網頁
        i.icon.external.url
    .ui.divider
    p 所屬專案
      a(href="").ui.label.left.margin 基礎建設
      | ，宗旨「blahblah潮短版簡介」，使用技術
      a(href="").ui.label.left.margin Angular JS
      a(href="").ui.label.left.margin Semantic UI
      a(href="").ui.label.left.margin Sass
      a(href="").ui.label.left.margin Compass
      a(href="").ui.label.left.margin Node JS
      | ，專案文件
      a(href="").ui.label.left.margin hackfoldr
        i.icon.external.url
      | ，專案成果
      a(href="").ui.label.left.margin 網頁
        i.icon.external.url
    .ui.divider
    p
      a(href="hack-panel-pit_ID.html").ui.icon.right.labeled.small.button 本坑獨立頁面
        i.icon.right.arrow
tr
  td.two.line.height
    a(href="").ui.label 國會大代誌
  td
    a(href="",ng-click="pitDetail=11").with.padding.block.display 國會娘角色設計
  td(ng-show="pitView=='all'").two.line.height
    a(href="").ui.label 插畫
  td(ng-show="pitView=='all'").two.line.height
    a(href="").ui.label hackpad
  td(ng-show="login=='done'")
    include _hack-pit-action-buttons
tr(ng-show="pitDetail==11").detail
  td(colspan="5")
    p blah 零時坑報 hackpad 上的坑詳細描述，步驟 123 要注意什麼…。
    .ui.divider
    p 坑型
      a(href="").ui.label.left.margin g0v 文化部
      a(href="").ui.label.left.margin 文案
      | ，坑址
      a(href="").ui.label.left.margin hackpad
      | ，認領人
      a(href="").ui.label.left.margin Lee1092
        i.icon.external.url
      a(href="").ui.label.left.margin Lee1092
        i.icon.external.url
      a(href="").ui.label.left.margin Lee1092
        i.icon.external.url
      | ，完成品
      a(href="").ui.label.left.margin 網頁
        i.icon.external.url
    .ui.divider
    p 所屬專案
      a(href="").ui.label.left.margin 基礎建設
      | ，宗旨「blahblah潮短版簡介」，使用技術
      a(href="").ui.label.left.margin Angular JS
      a(href="").ui.label.left.margin Semantic UI
      a(href="").ui.label.left.margin Sass
      a(href="").ui.label.left.margin Compass
      a(href="").ui.label.left.margin Node JS
      | ，專案文件
      a(href="").ui.label.left.margin hackfoldr
        i.icon.external.url
      | ，專案成果
      a(href="").ui.label.left.margin 網頁
        i.icon.external.url
    .ui.divider
    p
      a(href="hack-panel-pit_ID.html").ui.icon.right.labeled.small.button 本坑獨立頁面
        i.icon.right.arrow
