extends _template

block title
  | 歷史備份 | 

block body

  div(style="padding:1rem;")
    h2.ui.header 高雄爆炸事件 hackfoldr 備份區
    .ui.segment
      h3.ui.header 動態更新頁
      .ui.relaxed.divided.list
        a.item(href="Kaohsiung-explode-20140801") 高雄氣爆資訊 動態更新頁 資料來源 Kaohsiung-explode-20140801
        a.item(href="ks0801") 高雄氣爆資訊 動態更新頁 資料來源 ks0801
        a.item(href="1WVWrKC-Tbry3ltgouQPpZH2Cd2HkKeZ8DjLs4PWa1z4") 高雄氣爆資訊 動態更新頁 資料來源 1WVWrKC-Tbry3ltgouQPpZH2Cd2HkKeZ8DjLs4PWa1z4
    .ui.segment
      h3.ui.header 靜態備份頁
      .ui.relaxed.divided.list
        a.item(href="Kaohsiung-explode-20140801-backup0500.html") 高雄氣爆資訊 靜態備份頁：08/01 05:00AM 資料來源 Kaohsiung-explode-20140801
        a.item(href="Kaohsiung-explode-20140801-backup0700.html") 高雄氣爆資訊 靜態備份頁：08/01 07:00AM 資料來源 Kaohsiung-explode-20140801
        a.item(href="Kaohsiung-explode-20140801-backup1100.html") 高雄氣爆資訊 靜態備份頁：08/01 11:00AM 資料來源 Kaohsiung-explode-20140801
        a.item(href="1WVWrKC-Tbry3ltgouQPpZH2Cd2HkKeZ8DjLs4PWa1z4-backup08020700.html") 高雄氣爆資訊 靜態備份頁：08/02 07:00AM 資料來源 1WVWrKC-Tbry3ltgouQPpZH2Cd2HkKeZ8DjLs4PWa1z4
