extends g0v.tw

block title
  | 活動 -
  block sub-title

block sub-menu
  nav#sub-menu.ui.sub.menu
    a.item.hackathon(href="") 黑客松
    a.item.workshop(href="") 工作坊
    a.item.lecture(href="") 課程
    a.item.talk(href="") 演講
    a.item.calendar(href="") 行事曆


