extends _template

block title
  | 官網

block body

  nav#nav
    .ui.menu.inverted
      a.item.landing(href="http://g0v.asia/") g0v 零時政府
      .ui.black.small.button.item twitter
      .ui.black.small.button.item google+
      .ui.black.small.button.item facebook
      .right.menu
        .item
          .ui.icon.input
            input(type="text",placeholder="搜尋...",ng-model="keyword")
            i.search.link.icon
        .ui.dropdown.item 中文
          i.icon.dropdown
          .menu
            a.item 中文
            a.item English
    .ui.tiered.menu
      .menu
        a.teal.item.achievement(href="g0v.tw-achievement-software.html") 成果
        a.teal.item.news(href="g0v.tw-news.html") 新聞
        a.teal.item.event(href="g0v.tw-event.html") 活動
        a.teal.item.about(href="g0v.tw-about.html") 關於
        a.teal.item.contact(href="g0v.tw-contact.html") 聯繫
        a.right.item.join(href="hack.html") 加入
          i.icon.right
      block sub-menu

  section#content
    block content

block script

