extends g0v.tw

block title
  | 新聞 -
  block sub-title

block sub-menu
  nav#sub-menu.ui.sub.menu
    a.item.irc(href="") irc log
    a.item.bulletin(href="") 公報
    a.item.blog(href="") 部落格
    a.item.press(href="") 平面媒體報導
    a.item.interview(href="") 影音採訪報導


