extends g0v.tw-achievement

block sub-title
  | 軟體

block content
  #software
    .ui.horizontal.divider 小幫手系列
    .ui.two.column.stackable.grid
      .column
        a(target='blank', href='http://newshelper.g0v.tw/')
          img.rounded.ui.image(src='img/newshelper128x128flat.png')
        .summary
          h3.title 新聞小幫手
          p.slogan 揪出問題新聞、守護您的網路閱聽品質
          p.platform
            span.ui.horizontal.label.green chrome
            span.ui.horizontal.label.green firefox
            span.ui.horizontal.label.green safari
            span.ui.horizontal.label.blue 網頁
      .column
        a(target='blank', href='http://jobhelper.g0v.ronny.tw/')
          img.rounded.ui.image(src='')
        .summary
          h3.title 求職小幫手
          p.slogan 求職網站不會主動告訴你的事情
          p.platform
            span.ui.horizontal.label.green chrome
            span.ui.horizontal.label.green firefox
            span.ui.horizontal.label.green safari
            span.ui.horizontal.label.blue 網頁

    .ui.horizontal.divider 教育部系列
    .ui.two.column.stackable.grid
      .column
        a(target='blank', href='')
          img.rounded.ui.image(src='https://www.moedict.tw/icon.png')
        .summary
          h3.title 萌典
          p.slogan 國、閩、客、英、法、德多語言有聲民間版教育部國語辭典
          p.platform
            span.ui.horizontal.label.teal android
            span.ui.horizontal.label.teal ios
            span.ui.horizontal.label.teal firefox os
            span.ui.horizontal.label.blue 網頁
      .column
        a(target='blank', href='https://www.moedict.tw/moetris/')
          img.rounded.ui.image(src='')
        .summary
          h3.title 萌典方塊遊戲：詞彙版
          p.slogan 挑戰中文詞彙的極限
          p.platform
            span.ui.horizontal.label.blue 網頁
      .column
        a(target='blank', href='https://www.moedict.tw/moetris/#b')
          img.rounded.ui.image(src='')
        .summary
          h3.title 萌典方塊遊戲：注音版
          p.slogan 挑戰中文注音的極限
          p.platform
            span.ui.horizontal.label.blue 網頁
      .column
        a(target='blank', href='https://www.moedict.tw/moetris/#p')
          img.rounded.ui.image(src='')
        .summary
          h3.title 萌典方塊遊戲：部件版
          p.slogan 挑戰中文組字的極限
          p.platform
            span.ui.horizontal.label.blue 網頁
      .column
        a(target='blank', href='https://www.moedict.tw/dodo/')
          img.rounded.ui.image(src='https://www.moedict.tw/dodo/icon.png')
        .summary
          h3.title 萌典啄木鳥（活動已結束）
          p.slogan 替教育部國語辭典除蟲
          p.platform
            span.ui.horizontal.label.blue 網頁
    .ui.horizontal.divider 財政部系列
    .ui.horizontal.divider 立法院系列
    .ui.horizontal.divider 衛生福利部系列

block script
  script.
    $("#nav .achievement").addClass("active");
    $("#sub-menu .software").addClass("active");

