extends g0v.tw

block title
  | 關於 -
  block sub-title

block sub-menu
  nav#sub-menu.ui.sub.menu
    a.item.about(href="") 簡介
    a.item.menifesto(href="") 宣言
    a.item.coc(href="") coc
    a.item.faq(href="") 常見問題
    a.item.balance(href="") 統計資訊
    a.item.balance(href="") 收支明細


