extends hack

block hackspace
  #guide.ui.form.segment(ng-init="login='done'")
    p 您熟悉哪些文藝創作工具？
    p [mockup comments] ↓假設有選文案會出現
    .ui.horizontal.divider writing tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") markdown syntax
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") logdown
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") tumblr
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") blogger
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") weebly
    p [mockup comments] ↓假設有選翻譯會出現
    .ui.horizontal.divider translating tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") transfix
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") oTranscribe
    p [mockup comments] ↓假設有選插畫會出現
    .ui.horizontal.divider graphic tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") sai
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") painter
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") adobe illustrator
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") adobe photoshop
    p [mockup comments] ↓假設有選動畫會出現
    .ui.horizontal.divider animation tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") adobe flash
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") audodesk 3ds max
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") audodesk maya
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") adobe after effect
    p [mockup comments] ↓假設有選設計會出現
    .ui.horizontal.divider graphic tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") adobe indesign
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") corel draw
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") google sketch
    p [mockup comments] ↓假設有選攝影會出現
    .ui.horizontal.divider graphic tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") adobe lightroom
    p [mockup comments] ↓假設有選音樂會出現
    .ui.horizontal.divider audio tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") garageband
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") albeton live
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") nuendo
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") protools
    p [mockup comments] ↓假設有選影片會出現
    .ui.horizontal.divider video tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") adobe premiere
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") final cut pro
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") 其他：
      input(type="text",placeholder="以半形逗點 , 隔開")

    p
      a(href="hack-panel-pit.html",ng-click="login=='done'").ui.right.icon.labeled.button.red 好了，趕快告訴我有哪些坑可以填！
        i.icon.right.arrow
    p
      a(href="hack-guide-research.html").ui.right.icon.labeled.button.green 等一下，我還有其他專長
        i.icon.right.arrow
