extends hack

block hackspace

  #panel(ng-init="login='done';pitCount={ongoing:10,archived:99};projectCount={ongoing:3,archived:39};ideaCount={ongoing:5,archived:59}")

    include _hack-login

    nav#menu.mobile.hide
      //-a(href="hack-panel.html").item.panel 儀表版
      .section.title 填坑
      .section.ui.vertical.menu.inverted
        a(href="hack-panel-pit.html").item.pit 坑
          .ui.label 999
          .ui.label.red(ng-show="login=='done'") {{ pitCount.ongoing }}
        a(href="hack-panel-project.html").item.project 專案
          .ui.label 99
          .ui.label.blue(ng-show="login=='done'") {{ projectCount.ongoing }}
        a(href="hack-panel-idea.html").item.idea 零感
          .ui.label 88
          .ui.label.green(ng-show="login=='done'") {{ ideaCount.ongoing }}
      .section.title 填坑材料
      .section.ui.vertical.menu.inverted
        a(href="hack-panel-achievement.html").item g0v 現有成果
          .ui.label 100
        a(href="hack-panel-g0ver.html").item.g0ver g0v 黑客
          .ui.label 500
        a(href="hack-panel-ngo.html").item 相關公民團體
          .ui.label 20
        a(href="hack-panel-fund.html").item 相關募資平台
          .ui.label 10
      .section.title 填坑管道
      .section.ui.vertical.menu.inverted
        a(href="hack-panel-colaboration.html").item 協作平台
          .ui.label 4
        a(href="hack-panel-discussion.html").item 討論平台
          .ui.label 5
        a(href="hack-panel-event.html").item 黑客松
          .ui.label 30
          .ui.label.teal 1
      .section.title 我的
      .section.ui.vertical.menu.inverted
        a(href="hack-panel-resume.html",ng-show="login=='done'").item.resume.login.done 黑客履歷
        a(href="hack-panel-leve1up.html").item.leve1up leve1up
        a(href="hack-panel-hat.html").item.hat 分類帽
        a(href="hack-panel-guide.html").item.guide 零時導遊

    section#content
      block content
        p 進行中的坑
        p 進行中的專案
        p 發想中的零感
        p 即將舉行的黑客松

block script
  script.
    $("#nav .panel").addClass("active");
    $("#menu .panel").addClass("active");
