extends hack

block hackspace
  #guide.ui.form.segment(ng-init="login='done'")
    p 嗨，ETBlue！您熟悉特定的產、官、學、民領域嗎？ - 來自研究院的問候
    .inline.field
      .ui.radio.checkbox
        input#choice1(name="",type="radio")
        label(for="choice1") 有，包括：
    .inline.field.indent
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") 學有專精的學術研究領域：
      input(type="text",size="50",placeholder="以半形逗點 , 隔開")
    .inline.field.indent
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") 長期關注的社會議題：
      input(type="text",size="50",placeholder="以半形逗點 , 隔開")
    .inline.field.indent
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") 待過或熟悉的產業：
      input(type="text",size="50",placeholder="以半形逗點 , 隔開")
    .inline.field.indent
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") 待過或熟悉的政府單位：
      input(type="text",size="50",placeholder="以半形逗點 , 隔開")
    .inline.field.indent
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") 待過或熟悉的非營利組織：
      input(type="text",size="50",placeholder="以半形逗點 , 隔開")
    .inline.field.indent
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") 待過或熟悉的社群：
      input(type="text",size="50",placeholder="以半形逗點 , 隔開")
    .inline.field.indent
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") 其他：
      input(type="text",size="50",placeholder="以半形逗點 , 隔開")
    .inline.field
      .ui.radio.checkbox
        input#choice1(name="",type="radio")
        label(for="choice1") 沒有耶哈哈哈哈……問點別的，好嗎？
    a(href="hack-guide-ai.html").ui.right.icon.labeled.button.green 下一步
      i.icon.right.arrow

