extends hack

block hackspace
  #guide.ui.form.segment(ng-init="login='done'")
    p 嗨，ETBlue！您擅長使用哪些工人智慧？ - 來自工人院的問候
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") 人肉 OCR
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") 聽打逐字稿
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") 其他：
      input(type="text",size="50",placeholder="以半形逗點 , 隔開")
    a(href="hack-panel-pit.html",ng-click="login=='done'").ui.right.icon.labeled.button.red 好了，趕快告訴我有哪些坑可以填！
      i.icon.right.arrow

