extends hack-panel

block content
  #pit-id
    nav.ui.menu
      a(href="hack-panel-pit.html").item
        i.icon.left.arrow
        | 回上一頁
      .item
        .ui.label.right.margin 坑
        | 專案整理、各專案長短版簡介撰寫
      .right.menu
        .ui.icon.labeled.button.green.item(ng-show="login=='done'").add.to 加到清單
          i.icon.add
        .ui.icon.labeled.button.item(ng-click="socialShare=!socialShare") 分享
          i.icon.forward.mail
    #social-share(ng-show="socialShare").light.gray.extended.block
      .ui.icon.labeled.small.button google+
        i.icon.google.plus
      .ui.icon.labeled.small.button twitter
        i.icon.twitter
      .ui.icon.labeled.small.button facebook
        i.icon.facebook
    section
      p blah 零時坑報 hackpad 上的坑詳細描述，步驟 123 要注意什麼…。
      .ui.two.column.stackable.grid
        .column
          table.ui.table.segment
            tbody.two.line.height
              tr
                td.detail 坑型
                  a(href="").ui.label.left.margin g0v 文化部
                  a(href="").ui.label.left.margin 文案
              tr
                td.detail 坑址
                  a(href="").ui.label.left.margin hackpad
              tr
                td.detail 挖坑人
                  a(href="").ui.label.left.margin ipa
              tr
                td.detail 挖坑時間 2014/6/4
              tr
                td.detail 填坑期限 無
              tr
                td.detail 認領人
                  a(href="").ui.label.left.margin Lee1092
              tr
                td.detail 完成品
                  a(href="").ui.label.left.margin 網址
        .column
          table.ui.table.segment
            tbody.two.line.height
              tr
                td.detail 所屬專案
                  a(href="").ui.label.left.margin 基礎建設
              tr
                td.detail 專案簡介 blahblah潮短版簡介
              tr
                td.detail 專案使用技術
                  a(href="").ui.label.left.margin Angular JS
                  a(href="").ui.label.left.margin Semantic UI
                  a(href="").ui.label.left.margin Sass
                  a(href="").ui.label.left.margin Compass
                  a(href="").ui.label.left.margin Node JS
              tr
                td.detail 專案授權
                  a(href="").ui.label.left.margin MIT
                  a(href="").ui.label.left.margin CC By
              tr
                td.detail 專案文件
                  a(href="").ui.label.left.margin hackfoldr
                    i.icon.external.url
              tr
                td.detail 專案成果
                  a(href="").ui.label.left.margin 網頁
                    i.icon.external.url
      .ui.horizontal.divider 追蹤此坑的人
      .ui.horizontal.list
        .item
          a.ui.image.avatar(href="")
            img(src="https://pbs.twimg.com/profile_images/93787198/etb2006_bigger.jpg")
          .content
            a(href="").header tuiry
            p.no.margin
              a(href="").ui.label 插畫
              a(href="").ui.label perfume
        .item
          a.ui.image.avatar(href="")
            img(src="https://pbs.twimg.com/profile_images/93787198/etb2006_bigger.jpg")
          .content
            a(href="").header airos
            p.no.margin
              a(href="").ui.label 平面設計
        .item
          a.ui.image.avatar(href="")
            img(src="https://pbs.twimg.com/profile_images/93787198/etb2006_bigger.jpg")
          .content
            a(href="").header mary
            p.no.margin
              a(href="").ui.label 網頁設計
        .item
          a.ui.image.avatar(href="")
            img(src="https://pbs.twimg.com/profile_images/93787198/etb2006_bigger.jpg")
          .content
            a(href="").header alice
            p.no.margin
              a(href="").ui.label 網頁設計
              a(href="").ui.label 插畫
      .ui.horizontal.divider 類似的坑
      table#pit-list.ui.table.segment(ng-init="pitView='all';pitViewMode='normal'")
        tbody.ui.basic.accordion
          include _hack-pit-select-software
          include _hack-pit-select-culture

block script
  script.
    $("#nav .panel").addClass("active");
    $("#menu .pit").addClass("active");
    $(".add.to").click(function(){
      $(this).addClass("disabled");
    });
