extends hack

block hackspace
  #guide.ui.form.segment(ng-init="login='done'")
    p 您熟悉哪些軟體開發工具？
    p [mockup comments] ↓假設有選企畫 / UI 會出現
    .ui.horizontal.divider wirefram tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") balsamiq
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") omnigraffle
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") moqups
    p [mockup comments] ↓假設有選視覺會出現
    .ui.horizontal.divider design tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") adobe firework
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") adobe photoshop
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") adobe illustrator
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") inkscape
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") gimp
    p [mockup comments] ↓假設有選前端會出現
    .ui.horizontal.divider syntax
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") html5
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") css3
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") javascript
    .ui.horizontal.divider html tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") jade
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") haml
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") slim
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") middleman
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") erb
    .ui.horizontal.divider css tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") sass
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") compass
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") less
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") stylus
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") semantic ui
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") twitter bootstrap
    .ui.horizontal.divider js tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") jquery
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") angular js
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") coffee script
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") livescript
    p [mockup comments] ↓假設有選後端會出現
    .ui.horizontal.divider language
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") perl
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") python
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") php
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") ruby
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") go
    .ui.horizontal.divider framework
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") django
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") php cake
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") rails
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") sinatra
    p [mockup comments] ↓假設有選系統程式會出現
    .ui.horizontal.divider language
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") c
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") java
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") scala
    p [mockup comments] ↓假設有選 iOS / android 會出現
    .ui.horizontal.divider cross plateform tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") rhino
    p [mockup comments] ↓假設有選 iOS 會出現
    .ui.horizontal.divider ios tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") ???
    p [mockup comments] ↓假設有選 Android 會出現
    .ui.horizontal.divider android tool
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") ???
    .inline.field
      .ui.checkbox
        input#check1(name="",type="checkbox")
        label(for="check1") 其他：
      input(type="text",placeholder="以半形逗點 , 隔開")

    p
      a(href="hack-panel-pit.html",ng-click="login=='done'").ui.right.icon.labeled.button.orange 好了，趕快告訴我有哪些坑可以填！
        i.icon.right.arrow
    p
      a(href="hack-guide-art.html").ui.right.icon.labeled.button.green 等一下，我還有其他專長
        i.icon.right.arrow
