extends _template

block title

block body

  nav#sidebar.desktop-expanded-layout

    nav#nav.desktop.only
      .ui.borderless.menu
        include white_label-shortcuts-nav
        .ui.dropdown.icon.item.history
          i.icon.time
          include foldr_history-menu
        .ui.dropdown.icon.item.about
          i.icon.help
          include help-menu
        a.right.item.expand.button.collapsed.mode.hidden.desktop.only
          i.icon.arrow.right(data-content="展開")
        a.right.item.collapse.button.expanded.mode.desktop.only
          i.icon.arrow.left(data-content="收合")
        .right.icon.item.zoom.ui.dropdown
          i.icon.zoom.in
          include zoom-menu

    //- on mobile / tablet / phone, nav bar content is merged into this bar
    nav#topbar
      .ui.borderless.menu
        a.item.foldr.title
          //-i.icon.home
          span.text
        include white_label-shortcuts-topbar
        .ui.dropdown.icon.item.history.tablet.only
          i.icon.time
          include foldr_history-menu
        .ui.dropdown.icon.item.about.tablet.only
          i.icon.help
          include help-menu
        a.right.item.show.nav.button.collapsed.mode.mobile.only
          i.icon.arrow.down(data-content="展開")
        a.right.item.hide.nav.button.expanded.mode.hidden.mobile.only
          i.icon.arrow.up(data-content="收合")
        .right.ui.dropdown.icon.item.meta.phone.only
          i.icon.ellipsis.vertical
          .menu
            a.item.edit.table.tiny.only(target="iframe") 編輯
              i.icon.pencil
            a.item.refresh.table.tiny.only.hidden 更新
              i.icon.repeat
            include white_label-shortcuts-dropdown
            .item.history 紀錄
              i.icon.time
              include foldr_history-menu
            .item.about 說明
              i.icon.help
              include help-menu
        .right.icon.item.zoom.ui.dropdown.tablet.only
          i.icon.zoom.in
          include zoom-menu
        a.right.icon.item.edit.table(target="iframe")
          i.icon.pencil(data-content="編輯")
        a.right.icon.item.refresh.table.hidden
          i.icon.repeat(data-content="更新")
        a.right.icon.item.add.to.list.hidden
          i.icon.add
      .ui.segment.submit.no.margin.hidden.expanded.mode
        .ui.form
          .inline.field
            .ui.radio.checkbox.add.only
              input.content.type(id="add-only",type="radio",name="submit",checked)
              label(for="add-only") 投稿
            .ui.radio.checkbox.add.create
              input.content.type(id="create-add",type="radio",name="submit")
              label(for="create-add") 開 hackpad 並投稿
        form.ui.warning.form.adding.only.mode
          .ui.error.message
          .field
            .ui.left.labeled.icon.input
              input.new.link.title(placeholder="想顯示在 foldr 中的連結名稱",type="text",name="new-link-title",value="",required)
              i.icon.font
              .ui.corner.label
                i.icon.asterisk
          .field
            .ui.left.labeled.icon.input
              input.new.link.url(placeholder="連結網址",type="url",name="new-link-url",value="",required)
              i.icon.url
              .ui.corner.label
                i.icon.asterisk
          button.ui.submit.button.green.small.add.only add to foldr
        form.ui.warning.form.creating.adding.mode.hidden
          .ui.error.message
          .field
            .ui.left.labeled.icon.input
              input.new.pad.title(placeholder="想顯示在 foldr 中的文件名稱",type="text",name="new-pad-name",value="",required)
              i.icon.font
              .ui.corner.label
                i.icon.asterisk
          button.ui.submit.button.green.small.add.create create and add to foldr
    nav#toc
      .ui.fluid.vertical.menu.sortable

  #wrapper.desktop-expanded-layout

    .frame
      iframe#iframe(name="iframe")
