//- white label: if you want to show shortcut links for your community / organization, uncomment line 2, then there will ba a home button added to the top of #sidebar (tablet mode)
//-.ui.dropdown.icon.item.shortcuts.tablet.only
  i.icon.home
  include shortcuts-menu
