
<div id="login" ng-show="login=='yes'" class="ui form segment light yellow">
  <p>黑客，歡迎！登入為：</p>
  <div ng-click="login='done'" class="ui icon labeled button">github<i class="icon github"></i></div>
  <div ng-click="login='done'" class="ui icon labeled button">google<i class="icon google plus"></i></div>
  <div ng-click="login='done'" class="ui icon labeled button">twitter<i class="icon twitter"></i></div>
  <div ng-click="login='done'" class="ui icon labeled button">facebook<i class="icon facebook"></i></div>
  <div ng-click="login='no'" class="ui icon right labeled button">不登入，保持匿名，以策安全<i class="icon hide"></i></div>
</div>